/BuscadorTerminalImpostor/nbproject/private/
/BuscadorTerminalImpostor/dist/
/BuscadorTerminalImpostor/build/
/BarraDeHerramientas/dist/
/DemoVentanas/nbproject/private/
/DemoVentanas1/nbproject/private/
/DemoVentanas1/build/
/DemoVentanas2/nbproject/private/
/DemoVentanas2/build/
/DemoVentanas3/nbproject/private/
/DemoVentanas3/build/
/BarraDeHerramientas/nbproject/private/
/BarraDeHerramientas/build/
/javafxexample/nbproject/private/
/javafxexample/build/
/javafxexample/dist/
/JavaFXTesting/nbproject/private/
/JavaFXTesting/dist/
/JavaFXTesting/build/
/GestorDeVentas1/nbproject/private/
/GestorDeVentas1/build/
/GestorDeVentas1/dist/
/1a parte/VentaOrdenadores_1/build/
/1a parte/VentaOrdenadores_1/nbproject/private/
/Almacen/build/
/Almacen/dist/
/Almacen/nbproject/private/
/JavaApplication1/build/
/JavaApplication1/nbproject/private/
/LookFeel/build/
/LookFeel/nbproject/private/
/VentaOrdenadores/build/
/VentaOrdenadores/dist/
/VentaOrdenadores/nbproject/private/
/GestorVentanas1FX/build/
/GestorVentanas1FX/dist/