/BuscadorTerminalImpostor/nbproject/private/
/BuscadorTerminalImpostor/dist/
/BuscadorTerminalImpostor/build/
/BarraDeHerramientas/dist/
/DemoVentanas/nbproject/private/
/DemoVentanas1/nbproject/private/
/DemoVentanas1/build/
/DemoVentanas2/nbproject/private/